.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  font: 800 30px 'sans-seridf';
}

.tooltip .tooltipText {
  z-index: 1;
  position: absolute;
  bottom: 130%;
  left: 50%;
  visibility: hidden;
  width: 120px;
  padding: 5px 0;
  margin-left: -60px;
  background-color: #555;
  font: 500 15px 'sans-serif';
  color: #fff;
  text-align: center;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip .tooltipText::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid #555;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 0.8;
}
